/* Cek Area */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cek-area{
    background-color:#F47B20 ;
    font-family: 'Montserrat',sans-serif;
}
.cekarea-ca{
    width: 100%;
    height: 573px;
    background: url(../img/bg-ca.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    justify-content: right;
}
.cekarea-ca .center-ca {
    display: flex;
    align-items: center;
    height: 673px;
}
.cekarea-ca .center-ca .searchbox-ca{
    background: white;
    padding: 25px 25px 40px 40px;
    border-radius: 15px;
    margin-right: 30px;
}
.cekarea-ca .center-ca .searchbox-ca h1{
    margin-bottom: 40px;
}
.cekarea-ca .center-ca .searchbox-ca h4{
    font-size: 15px;
}
.cekarea-ca .center-ca .searchbox-ca h5{
    font-size: 11px;
}


/* search bar css */
.searchbox-ca .searchbar-ca{
    position: relative;
    display: flex;
    margin-top: 5px;
    margin-bottom: 4px;
}

.searchbox-ca .searchbar-ca .search-ca{
    border: 4px solid #F47B20;
    border-right: none;
    font-size: 15px;
    /* font-weight:bold; */
    padding: 5px;
    height: 45px;
    width: 570px;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.searchbox-ca .searchbar-ca .search-ca:focus{
    color: black;
    box-shadow: 0 0 5px #F47B20;
}

.searchbox-ca .searchbar-ca .search-btn{
    width: 60px;
    height: 45px;
    border: 1px solid #F47B20;
    background:#F47B20;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 23px;
}

.searchbox-ca .searchbar-ca .search-btn:active{
    background-color: #ff913c;
    color: rgb(255, 255, 255);
    border: #ff913c;
}

/* end search area */

/* Map Cek Area */

.map-container{
    font-family: 'Montserrat',sans-serif;
    background:#011c39 ;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
    height: fit-content;
    padding-bottom:60px;
    display: flex;
    flex-direction: column  ;
}
.map-container .text-map{
    display: flex;
    justify-content: center;
}
.map-container .text-map h1{
    color: #fff;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 35px;
}

/* map css */
.map-container .map-wrapper-center{
    display: flex;
    justify-content: center;
}
.map-container .map-wrapper .map-ca{
    background-color: #fff;
    width: 600px;
    height: 400px;
}
.map-wrapper-ca{
    display:flex;
    justify-content: center;
    background-color: #011c39;
    width: fit-content;
    height: fit-content;
}
.map-wrapper-ca .vector-map{
    width: 1200px;
    height: 529.875px;
}
.hide-ca{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: left;
    position: absolute;
    padding: 13px 16px;
    width: 300px;
    box-shadow: inset  0 0 5px #00000081;
    
}
.hide-ca h4{
    color: #011c39;
    font-size: 15px;
    margin-bottom: 5px;
    height: fit-content ;
}
.hide-ca h4 a{ 
    text-decoration: none;
}
.hide-ca h4 a:active{ 
    color: rgb(152, 184, 255);
}
.hide-ca p{
    color: #011c39;
    font-size: 11px;
}
.marker-ca{
    cursor: pointer;
}

.manado-txt{
    margin-top: 30px;
    margin-left: 640px;
}
.makasar-txt{
    margin-top: 235px;
    margin-left: 390px;
}
.solo-txt{
    margin-top: 285px;
    margin-right: 75px;
}
.jakarta-txt{
    margin-top: 240px;
    margin-right: 300px;
}

@media only screen and (max-width:1201px){
    .cekarea-ca .center-ca .searchbox-ca{
        padding:20px 20px 20px 30px;
    }
    .searchbox-ca .searchbar-ca .search-ca{
        width: 300px;
    }
    .cekarea-ca .center-ca .searchbox-ca h5{
        font-size: 10px;
        max-width: 400px;
    }
    .map-container .text-map h1{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .map-wrapper-ca .vector-map{
        width: 700px;
        height: 400px;
    }

    .hide-ca{
        width: 200px;
        padding: 10px 13px;
    }
    .hide-ca p{
        font-size: 9px;
    }
    
    .manado-txt{
        margin-top: 27px;
        margin-left: 410px;
    }
    .makasar-txt{
        margin-top: 153px;
        margin-left: 250px;
    }
    .solo-txt{
        margin-top: 194px;
        margin-right: 15px;
    }
    .jakarta-txt{
        margin-top: 165px;
        margin-right: 150px;
    }

}

@media only screen and (max-width:600px){
    .cekarea-ca{
        height: 400px;
        display:block;
    }
    .cekarea-ca .center-ca{
        display: flex;
        justify-content: center;
        align-items: none;
        height: 400px;
    }
    .cekarea-ca .center-ca .searchbox-ca{
        margin: 10px;
        padding: 20px;
    }
    .cekarea-ca .center-ca .searchbox-ca h1{
        font-size: 19px;
        margin-bottom: 20px;
    }
    .cekarea-ca .center-ca .searchbox-ca h4{
        font-size: 14px;
    }
    .searchbox-ca .searchbar-ca .search-ca{
        width: 280px;
        height: 35px;
    }
    .searchbox-ca .searchbar-ca .search-btn{
        height: 35px;
        width: 30px;
        font-size: 17px;
    }
    .map-wrapper-ca .vector-map{
        width: 350px;
        height: 200px;
    }
    .map-container .text-map h1{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 26px;
    }
    
    .manado-txt{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 140px;
    }
    .makasar-txt{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 140px;
    }
    .solo-txt{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 140px;
    }
    .jakarta-txt{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 140px;
    }


}
